.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    
    .match-date, .match-venue,.match-winner{
        margin-top:10px;
        
        
    }
    margin-bottom: 20px;
    .addtional-detail{
        text-align: right;
        & > p {
            margin-bottom: 20px;
        } 
    }
}
